

<h1>Get more information about this card for sale!</h1>

<div class="container">
  <div class="row justify-content-around m-0">
    <div class="card m-3 radius-5" style="width: 15rem;">
      <div class="flat-card">
        <div>
          <%= image_tag(@card.photo, size: '240x300') %>
        </div>
        <div class="card-body">
          <h3 style= "color: black;"><strong><%= @card.name %></strong></h3>
          <h3><strong>Price: $<%= @card.price %></strong></h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Type: </strong><%= @card.category %></li>
          <li class="list-group-item"><strong>Foil: </strong><%= @card.foil %></li>
          <li class="list-group-item"><strong>Condition: </strong><%= @card.conservation_state %></li>
          <li class="list-group-item"><strong>Collor: </strong><%= @card.color %></li>
          <li class="list-group-item"><strong>Edition: </strong><%= @card.edition %></li>
          <li class="list-group-item"><strong>Rarity: </strong><%= @card.rarity %></li>
          <div class="card-body">
            <%= simple_form_for [@card, @order] do |f| %>
            <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
            <span id="sweet-alert-demo" class="btn btn-warning">Confirm Purchase</span>
            <input type="submit" id="submit-button" name="commit" style="visibility:hidden" value="Create Order" data-disable-with="Create Order">
            <% end %>



            <%= link_to "Give Up", cards_path, class: "btn btn-danger"%>
          </div>
        </ul>
      </div>
    </div>
  </div>
