<%= simple_form_for(@card) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="container">
  <div class="form-inputs">
    <h2><%= f.input :name %></h2>
    <h2><%= f.input :price %></h2>
    <h2><%= f.input :category, collection: Card::CATEGORIES%></h2>
    <h2><%= f.input :foil %></h2>
    <h2><%= f.input :conservation_state, collection: Card::CONSERVATIONS %></h2>
    <h2><%= f.input :color, collection: Card::COLORS %></h2>
    <h2><%= f.input :edition %></h2>
    <h2><%= f.input :rarity, collection: Card::RARITIES%></h2>
    <h2><%= f.input :photo %></h2>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Criar carta', class: "btn btn-outline-secondary mb-3"%>
  </div>
</div>
<% end %>
