<h1>Esse é o seu set deck de cartas para venda</h1>
<img src="https://www.pngfind.com/pngs/m/542-5427627_mtg-card-back-png-magic-transparent-png.png" />
<div>
  <tbody>
    <% @cards.each do |card| %>
      <div>
        <h2><%= card.name %></h2>
        <h2><%= card.price %></h2>
        <p><%= image_tag(card.photo, size: '120x200') %></p>
        <%= link_to 'Conheça essa carta!', card_path(card), class: "btn btn-outline-secondary" %>
      </div>
    <% end %>

    <h2>My cards :</h2>
    <% current_user.cards.each do |card|%>
    <div>
        <h2><%= card.name %></h2>
        <h2><%= card.price %></h2>
        <p><%= image_tag(card.photo, size: '120x200') %></p>
        <%= link_to 'Veja a carta!', card_path(card), class: "btn btn-outline-secondary" %>
    </div>
    <% end %>
  </tbody>
</div>
