<div class="cards-banner-bg m-0" >
  <div class="row m-0">
    <div class="col-12">
      <h2 class="title mt-5 pb-3 text-center">Available Cards</h2>
      <div class="row justify-content-around mb-15">
        <%= link_to 'Coloque sua carta a venda', new_card_path, class: "btn btn-info" %>
          <div class="busca">
            <%= form_with url: search_cards_url, method: :get do %>
              <%= text_field_tag :name,
                  params[:name],
                  class: "form-control",
                  placeholder: "Find a card"
              %>
              <%= submit_tag 'Find' %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-around m-0">
    <% @cards.each do |card| %>
      <div class="card m-3 radius-5" style="width: 13rem;">
        <div class="flat-card">
          <div>
            <%= image_tag(card.photo, size: '205x250') %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= card.name %></h5>
            <p class="card-text">$<%= card.price %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Vestibulumas justtibulumestibul estibul </li>
          </ul>
          <div class="card-body">
            <%= link_to 'Conheça essa carta', card_path(card), class: "btn btn-outline-dark btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
