<h1 style="color: white;"><strong> Search Results </strong></h1>

<div class="busca">
  <%= form_with url: search_cards_url, method: :get do %>
    <%= text_field_tag :name,
        params[:name],
        class: "form-control",
        placeholder: "Find a card"
    %>
    <%= submit_tag 'Find' %>
  <% end %>
</div>

<tbody>
  <% if !@cards.empty? %>
    <% @cards.each do |card| %>
      <h3 style="color: white;"><%= card.name %></h3>
      <h3><%= image_tag(card.photo, size: '120x200') %></h3>
      <h3 style="color: white;"><strong>Price: $<%= card.price %></strong></h3>
      <%= link_to '+ info', card_path(card), class: "btn btn-outline-dark btn-sm" %>
    <% end %>
  <% else %>
    <h2> Card not found! <i class="far fa-frown"></i></h2>
  <% end %>
</tbody>



<%= link_to 'Back', cards_path, class: "btn btn-secondary" %>
